streamlit==1.45.1
streamlit-webrtc==0.47.9
ultralytics==8.3.145
opencv-python-headless==4.10.0.84
av==11.0.0
torch==2.7.0
torchvision==0.22.0
numpy==1.26.4
pillow==11.2.1
scipy==1.15.3
matplotlib==3.10.3
